
@{
    ViewData["Title"] = "Gallery";
}

<h1 class=main-text>Gallery</h1>
<div class="grid-container">
    <div class=grid-item>
        <img src="~/images/bg1.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/color1.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/bg2.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/color2.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/bg3.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/color3.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/bg4.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/color4.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/bg5.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/color5.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/bg6.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/color6.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/ss2.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/ss3.jpg" class="gallery-photo" />
    </div>
    <div class=grid-item>
        <img src="~/images/ss4.jpg" class="gallery-photo" />
    </div>
</div>
