html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
}

#IndexDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

#IndexButton {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: "Brush Script MT", "Brush Script Std", "Apple Chancery", sarif;
    font-style: italic;
    font-variant: small-caps;
    font-size: 2em;
    color: white;
    height: 140px;
    width: 280px;
    border-style: double;
    border-color: black;
    border-width: 3px;
    outline-style: solid;
    outline-style: solid;
    outline-color: white;
    outline-width: 5px;
}

#bwbackimage {
    background-image: url(../images/BlackAndWhiteBackground.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

#cobackimage {
    background-image: url(../images/ColorBackground.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

#textOverImage {
    color: black;
    text-shadow: 1px 1px 2px white;
    font-weight: bold;
}

.main-text {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}

header.Fixed{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    overflow: hidden;
    display: block;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    justify-content: space-between;
}

.grid-item{
    border: double;
    border-color: white;
    width: 325px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-photo {
    max-width: 300px;
    max-height: 300px;
}

/*CSS for slideshow on about*/

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

